.popup__input-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  margin-left: 36px;
  margin-right: 36px;
}

@media (max-width: 520px) {
  .popup__input-container {
    margin: 0;
  }
}