.popup__container_type_popupimage {
  width: 816px;
}

@media (max-width: 825px) {
  .popup__container_type_popupimage {
    width: 433px;
  }
}

@media (max-width: 580px) {
  .popup__container_type_popupimage {
    justify-content: center;
    width: 240px;
  }
}