.container__btn-like {
  width: 22px;
  height: 19px;
  box-shadow: none;
  background-image: url(../../../images/Group.png)
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
