.popup__image-name {
  max-width: 291px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 10px, 0, 0, 0;
}

@media (max-width: 580px) {
  .popup__image-name {
    max-width: 240px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
   