.popup__button {
  width: 32px;
  height: 32px;
  background-color: #000;
  box-shadow: none;
  border: none;
  background-image: url(../../../images/CloseIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  align-self: flex-end;
}

.popup__button:hover {
    opacity: 0.6;
  }
  