.container__button {
  width: 22px;
  height: 19px;
  box-shadow: none;
  border: none;
  background-color: #fff;
  background-image: url(../../../images/Group.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  align-self: center;
}

.container__button:hover {
  opacity: 0.6;
}

.container__button:active {
  background-image: url(../../../images/Union.png);
}

