.container__button {
  width: 22px;
  height: 19px;
  box-shadow: none;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/Like_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  align-self: center;
}

.container__button:hover {
  opacity: 0.5;
}

.container__button:active {
  background-image: url(../../../images/like_dark.svg);
}

