.popup__close-button_type_btnclose {
  align-self: flex-end;
  margin-right: -40px;
  margin-bottom: 8px;
  position: inherit;
}

@media (max-width: 520px) {
  .popup__close-button_type_btnclose {
    width: 20px;
    height: 20px;
    background-image: url(../../../../images/Close-Icon-small.svg);
    margin-right: 0;
    margin-bottom: 16px;
  }
}