.profile__name {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 42px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 900px) {
  .profile__name {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 672px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}