.popup__close-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  align-self: flex-end;
  position: relative;
  right: -40px;
  top: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (max-width: 520px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -16px;
    background-image: url(../../../images/Close-Icon-small.svg);
  }
}
  