.popup__image {
  width: 816px;
  height: 540px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 580px) {
  .popup__image {
    width: 240px;
    height: 299px;
    align-self: center;
  }
}