.profile__info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

@media (max-width: 672px) {
  .profile__info {
    justify-content: center;
    text-align: center;
  }
}