.container {
  margin: 0 auto;
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
}

@media (max-width: 897px){
  .container {
    justify-content: center;
  }
}

